
.back {

    background-image: url('../img/banner2.jpg'); 
    background-size: cover; 
    background-position: bottom 40% left 30%; 
    background-repeat: no-repeat;
    height: 650px;

}    


.nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px; 
    width: 0;
    height: 2px; 
    background-color: orange; 
    transition: width 0.4s ease;
}

.nav-link:hover::after {
    width: 100%;
    
}
.nav-link {
    color: #a63a3a;
    font-size: 1.5em;
    margin-right: 70px;
   
   font-weight: bold;
   position: relative;
   text-decoration: none;
  
 
}
.nav-link:hover {
    color: red; 
}

 .img{
    mix-blend-mode: multiply;
   
} 
.dishText{

    color: #a63a3a;
 

    
}
.text-center-all {
    text-align: center;
}
.card-cover {
    min-height: 280px;
}

    
 
  